<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h3>Add new employee</h3>
    <br>
    <form action="/employees/add" method="post">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName">
        <label for="lastName">Last name</label>
        <input type="text" name="lastName">
        <label for="email">Email</label>
        <input type="text" name="email">
        <input type="button" value="submit" >
    </form>
</body>
</html>