<h1>Add New Employee</h1>

<form method="POST" action="/employees/add">
    First name:<br>
    <input type="text" name="firstName"><br>
    Last name:<br>
    <input type="text" name="lastName"><br>
    Email:<br>
    <input type="text" name="email"><br>
    Point:<br>
    <input type="text" name="totalPoints"><br><br>
    <button type="submit">Add Employee</button>
</form>