<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Performance Logs</title>
</head>

<body>
    <header>
        <h1>Performance Logs</h1>

        <div>
            <a href="/">Home</a>
            <a href="employees">Employees</a>
            <a href="tasks">Tasks</a>
        </div>
    </header>
</body>

</html>